html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-width: 100% auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
    /*background-image: url(../assets/bg.jpg);*/
}

canvas {
    display: block;
    cursor: none;
}

a {
    text-decoration: none;
}


.preload-font {
    position: absolute;
    bottom: -1000%;
}



/*
 * IEC elements (not being used in the canvas) ------------------------------------------------------------
 */

 #wrap {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: #7C3A24;
}

.layout-item {
    position: absolute;
    margin: auto;
    z-index: 20;
    pointer-events: none;
}

.layout-item img {
    width: 100%;
}

#game {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    z-index: 10;
}

#cta-container,
#cta-container-final,
#cta-container-final-2 {
    width: 65%;
    height: 10%;
    left: 0;
    right: 0;
    bottom: 2%;
}

#cta-container-final {
    width: 75%;
    bottom: 17%;
}

#cta-container-final-2 {
    width: 80%;
    bottom: 16%;
}


@media all and (orientation: landscape) {
   
    #cta-container {
        width: 38%;
        height: 10vw;
        right: 0;
        left: 0;
        bottom: 4%;
        -webkit-transform: none;
        transform: none;
    }

    #cta-container-final,
    #cta-container-final-2 {
        width: 40%;
        height: 10vw;
        bottom: 8%;
        transform: none;
        -webkit-transform: none;
    }

}

@media all and (min-width: 768px) and (orientation: portrait) {
   
}

@media all and (min-height: 768px) and (orientation: landscape) {

}

/* iphone X */

@media (min-aspect-ratio: 724/354) and (orientation: landscape) {

}