@media all and (orientation: landscape) {
    #vungle-header.landscape-light a {
        color: #ffffff;
        text-shadow: rgba(0, 0, 0, 0.37) 0 1px 2px;
    }
    #vungle-header.landscape-light a:active {
        color: #b4b4b4;
    }
    #vungle-header.landscape-dark a {
        color: rgba(126, 126, 126, 1);
        text-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px;
    }
    #vungle-header.landscape-dark a:active {
        color: rgba(54, 54, 54, 1);
    }
    #vungle-footer.landscape-center {
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }
    #vungle-footer.landscape-left {
        left: 5px;
        right: auto;
        text-align: left;
    }
    #vungle-footer.landscape-right {
        left: auto;
        right: 5px;
        text-align: right;
    }
    #vungle-footer.landscape-light span {
        color: rgba(255, 255, 255, 0.8);
    }
    #vungle-footer.landscape-dark span {
        color: rgba(126, 126, 126, 0.8);
    }
    #level-complete {
        width: 40%;
    }
}
