html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-width: 100% auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
    background-image: url(../assets/bg.jpg);
}

canvas {
    display: block;
    cursor: none;
}

a {
    text-decoration: none;
}


.preload-font {
    position: absolute;
    bottom: -1000%;
}



/*
 * IEC elements (not being used in the canvas) ------------------------------------------------------------
 */

 #wrap {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#vungle-close {
    opacity: 0;
    pointer-events: none;
}

#vungle-close.visible {
    opacity: 1;
    pointer-events: all;
}

#videoBg {
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    width: 100%;
    bottom: 0;
}

.layout-item {
    position: absolute;
    margin: auto;
    z-index: 20;
    pointer-events: none;
}

.layout-item img {
    width: 100%;
}

#game {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    z-index: 10;
}

#logo {
    right: auto;
    top: 0%;
    // width: 30%;
    width: 0;
}
#logo-final {
    width: 0;
    height: 0;
    top: 10%;
    left: 0;
    right: 0;
    z-index: 100;
}

#cta-container,
#cta-container-final {
    width: 30%;
    height: 10vw;
    right: 0;
    // left: 0;
    bottom: 0%;
    -webkit-transform: none;
    transform: none;
}
#cta-container {
    right: 2%;
}

#cta-container-final {
    width: 100%;
    bottom: 5%;
}


/*
 * customised ------------------------------------------------------------
 */

 #spin-button {
    width: 24%;
    height: 10vw;
    right: 0;
    left: 0;
    bottom: 0%;
    -webkit-transform: none;
    transform: none;
 }

@media all and (orientation: landscape) {

}

@media all and (min-width: 768px) and (orientation: portrait) {
   
}

@media all and (min-height: 768px) and (orientation: landscape) {
    #videoBg {
        top: 10%;
    }
    #spin-button {
        bottom: 25%;
    }
    #cta-container{
        width: 30%;
        bottom: 13%;
    }
    #cta-container-final {
        bottom: 18%;
    }
}

/*iPhone X portrait*/
@media (min-device-height: 724px) and (max-device-width: 376px) and (min-aspect-ratio: 354/724) and (orientation: portrait){

}

/*iPhone X landscape*/
@media (min-aspect-ratio: 724/354) and (orientation: landscape) {
    #videoBg {
        height: 100%;
    }
    #cta-container {
        width: 28%;
        height: 18%;
        right: 5%;
    }

    #cta-container-final {
        height: 8vw;
    }
}